<!doctype html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="style.css">
        <title><%=shopName%></title>
    </head>
    <body>
        <h1 class="heading">welcome to <%=shopName%> shop!</h1>
        <h2 class="heading">here are some things that we sell:</h2>
        <ul>
            <%for(let i = 0; i < productCategories.length; i++) {%>
                <li><%= productCategories[i] %></li>
            <%}%>
        </ul>
    </body>
</html>