<!doctype html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="style.css">
        <title><%=shopName%> customer survey</title>
    </head>
    <body>
        <h1>survey results</h1>
        <p> hello <%=name%> thank you for taking the time to fill out our survey! 
            <br><br>
            your input is greatly appreciated.
            <br> 
            customer feedback is tremendously helpful in assisting us to improve the products, service and experience we offer our customers.
            <br><br>
            your responses are available for review below: 
        </p>
    </body>
</html>