html, body {
    background-color: aliceblue;
    color: rgb(119, 198, 73);
    font-family: 'Courier New', Courier, monospace;
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: block;
    align-self: center;
    align-items: center;
}